@font-face {
    font-family: 'zen';
    src: url(_fonts/ZenKurenaido-Regular.ttf);
}

body {
    background: rgb(0, 0, 0);
    font: normal 16pt 'zen';
    text-align: center;
 
}

ul#photos{
    margin: 0 auto;
    padding: 150px 150px 150px 150px; 
    overflow: hidden;
    list-style:none;
    text-align: center;
    
    

}

ul#photos li {
    float: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 3px solid white;
    text-align: center;
    padding-bottom: 100px;

}

ul#photos li span{
    opacity: 0;
    color:white;
    font-size: 12pt;
    text-align:top;
    padding:5px;
    text-align: center;
    background:rgba(0, 0, 0, 0.267);
}

ul#photos li:hover{
    -webkit-transform: scale(1.5) ;
}

ul#photos li span:hover{
    opacity:1;
}


ul#photos li#photo01{
    background: url(_photos/photo01.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo01:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}
ul#photos li#photo02{
    background: url(_photos/photo02.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo02:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}
ul#photos li#photo03{
    background: url(_photos/photo03.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo03:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}
ul#photos li#photo04{
    background: url(_photos/photo04.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo04:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}
ul#photos li#photo05{
    background: url(_photos/photo05.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo05:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}
ul#photos li#photo06{
    background: url(_photos/photo06.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 300px 300px;
}
ul#photos li#photo06:hover{
    background-position: 0px 0px;
    background-size: 220px 220px
}

nav#menu{
    align-items: center;
    display: block;
    top:0px;
}

nav#menu ul{
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    transition: 2s;
}

nav#menu ul#navigation:hover{
    background-color:rgba(206, 195, 195, 0.486);
}

nav#menu li{
    font-family: 'zen';
    display: inline-flex;
    padding: 5px 0.5em;
    background-color: rgba(92, 83, 83, 0.747);
    border-radius: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.719);
    transition: 1s;
    align-items: center;
    top:0px
    
}

nav#menu li:hover{
    background-color: rgb(148, 144, 127);
}

nav#menu a{
    text-decoration: none;
    color: white;
}

nav#menu a:hover{
    color: rgb(15, 29, 32);
    text-decoration: underline;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
    height: 100px;
    
}

footer#bottom a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

footer#bottom a:hover{
    text-decoration: underline;
    color:rgb(148, 144, 127);
}